.shining-crown {
  width: 1000px;
  min-height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  &-item {
    width: 190px;
    height: 190px;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.shining-crown-animation {
  width: 1000px;
  height: 600px;
  margin: auto;
  display: flex;
  gap: 12.5px;
  overflow: hidden;
  &-row {
    animation-name: crown-animation;
    animation-timing-function: linear;
    width: max-content;
    @keyframes crown-animation {
      0% {
        transform: translateY(-1820px);
      }
      100% {
        transform: translateY(0);
      }
    }
    &-item {
      width: 190px;
      height: 190px;
      margin-bottom: 12px;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .row-1 {
    animation-duration: 0.6s;
  }
  .row-2 {
    animation-duration: 0.7s;
  }
  .row-3 {
    animation-duration: 0.8s;
  }
  .row-4 {
    animation-duration: 0.9s;
  }
  .row-5 {
    animation-duration: 1s;
  }
}
